.main, .page
  .main__2-col
    display: grid
    grid-template-columns: auto 30rem

.paper-container
  margin: 0 auto
  width: 100%
  min-height: 100vh
  padding: 0 2rem
  max-width: 98rem

@media screen and (max-width: $S)
  .main, .page
    .main__2-col
      grid-template-columns: 1fr

@media (prefers-color-scheme: dark)
  width: 100vw;
  height: 100vh;
  background-color: rgba(240,240,240,1);
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
  &--dark
    visibility: visible;
    opacity: 1;

@media (prefers-color-scheme: light) 
  width: 100vw;
  height: 100vh;
  background-color: rgba(240,240,240,1);
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
  &--dark
    visibility: hidden;
    opacity: 0;
